    $grid-breakpoints-xs: 0;
    $grid-breakpoints-sm: 576px;
    $grid-breakpoints-md: 768px;
    $grid-breakpoints-lg: 992px;
    $grid-breakpoints-xl: 1200px;
$success-color: #3BCD72;
$danger-color: #EE443A;
$info-color: #3B93E1;
$warning-color: #ED9D22;
$white-color: #fff;
$black-color: #000;